@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --color-background: hsl(0, 0%, 100%);
  --color-background-pattern: hsl(225, 100%, 98%);
  --color-background-card: hsl(227, 47%, 96%);
  --color-hover-card: #e1e3f0;
  --color-text-primary: hsl(228, 12%, 44%);
  --color-text-accent: hsl(230, 17%, 14%);
  --color-text-up: hsl(163, 72%, 41%);
  --color-text-down: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-instagram-gradient-from: hsl(37, 97%, 70%);
  --color-instagram-gradient-to: hsl(329, 70%, 58%);
  --color-youtube: hsl(348, 97%, 39%);
  --font-primary: "Inter", sans-serif;
  --max-width: 1200px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.3%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  font-weight: 400;
  line-height: 1.6;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}
.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2rem;
}
.switch__slider-round::before {
  content: "";
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.switch__checkbox:checked + .switch__slider-round {
  background: linear-gradient(to right, #0a7fe6, #02b6a7);
}
.switch__checkbox:checked + .switch__slider-round::before {
  -webkit-transform: translateX(1.8rem);
  -ms-transform: translateX(1.8rem);
  transform: translateX(1.8rem);
}

.dashboard {
  background-color: var(--color-background-pattern);
  padding-bottom: 15rem;
}
.dashboard__content {
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__title {
  color: var(--color-text-accent);
  font-size: 2.5rem;
  font-weight: 700;
}
.dashboard__info {
  margin-top: 4rem;
  display: block;
}
.dashboard__total-followers {
  font-size: 1.2rem;
  font-weight: 700;
}
.dashboard__switch {
  display: flex;
}
.dashboard__switch-text {
  padding-right: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #989dae;
}

.cards {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  transform: translateY(-50%);
}

.card__element {
  background-color: var(--color-background-card);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s ease-in;
}
.card__element--facebook {
  border-top: var(--color-facebook) solid 5px;
}
.card__element--twitter {
  border-top: var(--color-twitter) solid 5px;
}
.card__element--instagram {
  position: relative;
  background-clip: padding-box;
  overflow: hidden;
}
.card__element--instagram::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 110%;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 5px;
  z-index: 2;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, var(--color-instagram-gradient-from), var(--color-instagram-gradient-to));
}
.card__element--youtube {
  border-top: var(--color-youtube) solid 5px;
}
.card__element:hover {
  background-color: #e1e3f0;
  transform: translateY(-3px);
}
.card__user-info {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__logo {
  padding: 1rem;
  display: inline-block;
}
.card__user-id {
  font-size: 1.2rem;
  font-weight: 700;
}
.card__followers-numb {
  font-size: 5rem;
  font-weight: 700;
  line-height: 4rem;
  color: var(--color-text-accent);
}
.card__subtitle {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  margin-top: 1rem;
}
.card__stats {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 3rem;
}
.card__stats--is-up {
  color: var(--color-text-up);
}
.card__stats--is-down {
  color: var(--color-text-down);
}

/*# sourceMappingURL=style.css.map */
