.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;

    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider-round {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 2rem;

        &::before {
            content: "";
            position: absolute;
            height: 1.6rem;
            width: 1.6rem;
            left: 3px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    &__checkbox:checked + &__slider-round {
        background: linear-gradient(
            to right,
            hsl(208, 92%, 47%),
            hsl(175, 98%, 36%)
        );
    }

    &__checkbox:checked + &__slider-round::before {
        -webkit-transform: translateX(1.8rem);
        -ms-transform: translateX(1.8rem);
        transform: translateX(1.8rem);
    }
}
