@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.3%; // 10px

    // @media only screen and (max-width: variables.$bp-medium) {
    //     font-size: 56.25%; //9px;
    // }

    // @media only screen and (max-width: variables.$bp-small) {
    //     font-size: 43.75%; //7px;
    // }

    // @media only screen and (max-width: variables.$bp-smaller) {
    //     font-size: 37.5%; //6px;
    // }
}

body {
    font-family: var(--font-primary);
    color: var(--color-text-primary);
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-background);
}
