.dark-theme {
    --color-background: hsl(230, 17%, 14%);
    --color-background-pattern: hsl(232, 19%, 15%);
    --color-background-card: hsl(228, 28%, 20%);
    --color-hover-card: #333a56;
    --color-text-primary: hsl(228, 34%, 66%);
    --color-text-accent: hsl(0, 0%, 100%);
}
