.light-theme {
    --color-background: hsl(0, 0%, 100%);
    --color-background-pattern: hsl(225, 100%, 98%);
    --color-background-card: hsl(227, 47%, 96%);
    --color-hover-card: #e1e3f0;
    --color-text-primary: hsl(228, 12%, 44%);
    --color-text-accent: hsl(230, 17%, 14%);
}
