@use '../abstract/variables';
.overview {
    max-width: variables.$max-width;
    padding: 0 2rem;
    margin: -8rem auto;
    margin-bottom: 3rem;

    @media only screen and (max-width: variables.$bp-medium) {
        margin: -10rem auto;
    }

    @media only screen and (max-width: variables.$bp-small) {
        margin: 1rem auto;
    }

    &__title {
        font-size: 2.5rem;
        margin: 2rem 0;

        @media only screen and (max-width: variables.$bp-smaller) {
            font-size: 2rem;
        }
    }
}
